
  <div class="card-group">
      <div class="row">
          <div class="card col-md-4">
              <img class="card-img-top" src="/assets/m1.jfif"/>
              <div class="card-body">
                  <h3 class="card-title">Nokia</h3>
                  <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, fugit.</p>
              </div>
          </div>

          <div class="card col-md-4">
              <img class="card-img-top" src="/assets/m2.jfif">

              <div class="card-body">
                  <h3 class="card-title text-primary">Iphone</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet.</p>
              </div>
          </div>

          <div class="card col-md-4">
              <img class="card-img-top" src="/assets/m3.jfif">

              <div class="card-body">
                  <h3 class="card-title">Samsung</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet.</p>
              </div>
          </div>
      </div>

      <div class="row">
        <div class="card col-md-4">
            <img class="card-img-top" src="/assets/m1.jfif"/>
            <div class="card-body">
                <h3 class="card-title">Oppo</h3>
                <p class="card-text">Lorem, ipsum.</p>
            </div>
        </div>

       


    </div>
  </div>
